body {
  background-color: #131314;
  color: white;
  font-family: 'Mitr', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
#content {
  position: absolute;
  top: 15%;
  left: 10%;
}


#welcome {
  font-size: 96px; /* Zde je zvětšená velikost textu */
  display: inline-block;
  background: linear-gradient(90deg, #4D83F0, #D86572); /* Barva pro první písmeno na začátku a poslední na konci */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 5s infinite alternate;
}
@keyframes colorChange {
  0% {
      background-position: 0%;
  }
  100% {
      background-position: 100%;
  }
}
#grey-text {
  color: #888;
  margin-top: 20px;
  font-family: 'Almari', sans-serif;
}


#social-icons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
#social-icons a {
  display: inline-block; /* Přidejte tento styl */
}
#social-icons i{
  width: 150px;
  margin: 0 1px;
  color: #888;
  font-size: 40px;
  text-decoration: none;
}
#profile-pic {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%; /* Kulatý rámeček */
}

/* Pro responzivitu */
@media only screen and (max-width: 768px) {
  #content {
      position: static;
      margin-top: 50px; /* Posune obsah dolů pro lepší viditelnost */
      left: 0;
      width: 100%;
  }
  #profile-pic {
      top: 10px; /* Posune profilovou fotku blíže k hornímu okraji */
      left: 50%; /* Umístí profilovou fotku na střed horizontálně */
      transform: translateX(-50%);
  }
  #social-icons {
      position: fixed;
      margin-top: 80%; /* Posune sociální ikony výš */
      white-space: nowrap; /* Zabraňuje zalamování ikon na nový řádek */
  }
  #social-icons a {
      margin: 0 1px; /* Větší mezery mezi ikonami pro lepší ovladatelnost */
      display: inline-block; /* Zajišťuje, že ikony se zobrazují vedle sebe */
  }
  #social-icons i{
    width: 15%;
    color: #888;
    font-size: 35px;
    text-decoration: none;
  }
  #welcome {
      font-size: 48px; 
      padding-top: 18%;/* Zmenšená velikost textu pro mobilní zařízení */
  }
}
