



@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-size: 1rem;
  font-family: "Ubuntu Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  text-align: center;
  line-height: 1.5;
  background: #353535;
  color: #f0f0f0;
}


*,
*::before,
::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  padding: 12vh 0;
}

img[alt="Profile photo"] {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

img[alt="Profile photo"]:hover {
  transform: scale(1.1);
}

h3 {
  font-size: 3rem;
  background: linear-gradient(90deg, #0055ff, #afcaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 5s infinite alternate;
  margin: 20px 0;
}



.linktree-nav {
  margin: 40px auto 0;
  width: 95%;
  max-width: 700px;
}

.linktree-nav ul {
  display: grid;
  gap: 1rem;
  list-style: none;
}

.linktree-nav a {
  text-decoration: none;
  color: inherit;
  
}

.linktree-box {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 12px 12px;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
  background: #444444;
}


.linktree-box:hover {
  background-color: #5a5a5a;
  transform: scale(1.05);
}

.linktree-box .icon-box {
  --scale: 56px;
  width: var(--scale);
  height: var(--scale);
  font-size: 1.25rem;
  background: hsl(var(--color), 30%);
  color: hsl(var(--color));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 16px;
}



@media (min-width: 600px) {
  .linktree-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
  h3{
    font-size: 48px; 
  }
  #content {
    position: static;
    margin-top: 50px; /* Posune obsah dolů pro lepší viditelnost */
    left: 0;
    width: 100%;}
  #grey-text {
      margin-top: 10px;
    }
}

@media (max-width: 600px) {
  .linktree-nav ul {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: 2rem;
  }
}