html,
body {
    margin: 0;
}

@media all and (min-width:480px) {
    body {
        background: url(https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.content {
    margin: 0 auto;
    font-family: Hack;
}

h1 {
    font-size: 4em !important;
}

.section {
    padding: 2vw;
    color: #93a1a1;
    margin-top: 8vh;
}

.first {
    margin-top: 68vh;
}


.favicons a:hover {
    color: #93a1a1;
    text-decoration: none;
}

.favicons a {
    display: inline-block;
    width: 60px;
    font-size: 4.5vh;
    color: #93a1a1;
}